<div id="logo" role="banner"
     style="padding: 10px; vertical-align: bottom; background-color: rgb(181, 0, 0);">
</div>
<div class="row" style="margin-top: 1.5em; margin-left: 1em; margin-bottom: 3em">
    <div class="col-xs-12">
        <span class="h3 atpc-header">My Detail Header</span>
    </div>
</div>

<div ng-show="headerCtrl.isLoadingMenu" class="row">
    <div class="col-sm-12">
        <span class="fa fa-spinner fa-spin fa-4x text-center" style="width:100%;"></span>
    </div>
</div>